body {
	background-color: aquamarine;
	display: flex;
	flex-direction: column;

	/* width: 100%;*/
	height: 100%;
	/* margin: 0; */
	gap: 20px;
	padding: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	/* flex: 1; */
	justify-content: space-evenly;
	width: 500px;
	height: 500px;
	border: 2px solid black;
	background-color: white;
}

.options {
	display: flex;
	list-style: none;
	gap: 5px;
}

.rowDiv {
	display: flex;
	flex: 1;
}

.gridBox {
	/* background-color: aquamarine; */
	border: 2px solid black;
	flex: 1;
}